html {
    backface-visibility: visible;
    background-color: aqua;
    font-family: Tangerine, serif;
    font-size: 48px;
}
body {
    background color: aqua;
    background-clip: border-box;
    border-style: dotted;
    border-radius: 1.3px;
}
h1 {
    font-stretch: extra-expanded;
    font-size: 48px;
}
b,
strong {
    font-weight: 600;
}
border-boxx {
    padding-bottom: 20px;
    padding-top: : 20px;
    width: auto;
}
